:root {
  --box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.3);
}
@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.header__random-btn {
  display: block;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background: url('../../assets/nyan-cat.gif');
  background-size: cover;
  background-position-y: 50%;
}

.header__search-input {
  max-width: 700px;
  font-size: 32px;
  flex: 1;
  margin-right: 16px;
}

.searchResult {
  width: 100%;
}
.searchResult__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  list-style: none;
  grid-gap: 16px;
}

.searchResult__item {
  display: inline-block;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  width: 100%;
}
.searchResult__item:hover {
  filter: brightness(75%);
}

.searchResult__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.loading img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

.image-info__content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: inline-block;
  box-shadow: var(--box-shadow);
}

.image-info__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.image-info__close {
  border: none;
  outline: none;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
}

.image-info__image {
  width: 100%;
}

.image-info__description {
  padding: 16px;
}

.image-info__description p {
  margin: 0;
  padding-bottom: 8px;
}
