:root {
  --box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.3);
  --rainbow-gradient: linear-gradient(
    256deg,
    rgba(255, 186, 186, 0.65) 3%,
    rgba(255, 216, 178, 0.65) 13%,
    rgba(237, 238, 168, 0.65) 22%,
    rgba(185, 244, 178, 0.65) 33%,
    rgba(162, 220, 237, 0.65) 45%,
    rgba(168, 191, 237, 0.65) 59%,
    rgba(163, 168, 232, 0.65) 70%,
    rgba(201, 149, 209, 0.65) 82%,
    rgba(230, 173, 198, 0.65) 96%
  );
}
@font-face {
  font-family: 'Goyang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  max-width: 1200px;
  margin: auto;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__random-btn {
  display: block;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background: url('../../assets/nyan-cat.gif');
  background-size: cover;
  background-position-y: 50%;
}

.header__search-input {
  max-width: 700px;
  font-size: 32px;
  flex: 1;
  margin-right: 16px;
}

.search-result {
  width: 100%;
}
.search-result__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  list-style: none;
  grid-gap: 16px;
}

.search-result__item {
  display: inline-block;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  width: 100%;
}
.search-result__item:hover {
  filter: brightness(75%);
}

.search-result__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.loading img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translate(-50%, -50%);
}

.image-info__content {
  background-color: white;
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: inline-block;
  box-shadow: var(--box-shadow);
}

.image-info__header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.image-info__close {
  border: none;
  outline: none;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
}

.image-info__image {
  width: 100%;
}

.image-info__description {
  padding: 16px;
}

.image-info__description p {
  margin: 0;
  padding-bottom: 8px;
}

.search-result__null {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result__null__content {
  font-size: 2rem;
}

.recent-query {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-query__list {
  list-style: none;
  margin: 0;
  padding: 16px;
}

.recent-query__item {
  display: inline-block;
  background: var(--rainbow-gradient);
  cursor: pointer;

  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
  color: black;
}

.recent-query__item:hover {
  filter: brightness(85%);
}

.recent-query__item:last-child {
  margin-right: 0px;
}
