:root {
  /* color */
  --color-background: #1a1a2e;
  --color-base-light: #faebd7;
  --color-blue: #19a2d8;
  --color-yellow: #ffa500;
  --color-pink: #d87093;
  --color-tag: #deb887;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumnail: 50px;
  --font-size: 18px;
  /* animation */
  --animation-duration: 0.3s;
}

body {
  height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transsform var(--animation-duration) ease;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transsform var(--animation-duration) ease;
  margin-right: var(--base-space);
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.img-btn {
  width: var(--size-button);
  height: var(--size-button);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.color-btn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  display: flex;
  align-items: center;
  background-color: var(--color-base-light);
  color: var(--color-background);
  border-radius: var(--size-border);
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item .item-thumnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}

.item .item-tag {
  background-color: burlywood;
  padding: var(--base-space);
  border-radius: var(--size-border);
  margin-left: var(--base-space);
  font-size: var(--font-size);
}
